@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* font-size: 16px; By deafult it is 16px */
}

.banner {
  height: 80vh;
  object-fit: cover;
}


.search:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  main {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-gap: 1.8rem;
  }

  img {
    width: 100%;
  }

  .heroContent {
    font-size: 1.2rem;
    color: aliceblue;
    position: absolute;
    top: calc(15vh);
    left: calc(6vw);
    font-weight: 500;
    width: 90vw;
  }


  .search {
    margin-top: 20px;
    width: 88vw;
    height: 48px;
    border: none;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 30px;
    border-radius: 10px;
    font-weight: 600;
  }

  .banner {
    height: 50vh;
    object-fit: cover;
  }


  .navbar--wrapper {
    position: absolute;
    z-index: 5;
    width: 100vw;
    top: 10px;
  }

  /* .background {
    display: none;
    position: absolute;
    height: 50vh;
    z-index: 50;
    width: 100vw;
    background-color: rgba(73, 198, 134, 0.231);
    margin-top: -10px;
  } */

  .navbar--wrapper header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    z-index: 5;
  }

  .navbarLogo {
    margin-right: auto;
    width: 50px;
    margin-left: 10px;
  }

  .navbarItems {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    display: none;
  }

  .navbarButton {
    margin-right: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 15px;
  }

  .toggle {
    z-index: 200;
    border: none;
    background-color: unset;
    margin-right: 20px;
    filter: invert(100%) sepia(44%) saturate(75%) hue-rotate(14deg) brightness(117%) contrast(84%); 
  }

  .category {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  .category a {
    text-decoration: none;
    color: #4A4A4A;
    font-size: 1.1rem;
  }

  .active {
    color: white !important;
    background-color: black;
    border-radius: 30px;
    padding: 12px 20px;
  }

  .menu--Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 2rem -30px 2rem;
    margin-bottom: 10px;
  }

  .filterOne {
    width: 115px;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    border: 2px solid rgb(216, 215, 215);
    border-radius: 5px;
  }

}

@media screen and (min-width: 768px) {
  main {
    margin: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(361px, 1fr));
    grid-gap: 1.5rem;
    grid-auto-flow: dense;  
  }

  img {
    width: 100%;
  }

  .hero--wrapper {
    position: relative;
  }

  .heroContent h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 600;
    width: 50vw;
    font-size: 2rem;
  }


  .heroContent .search {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 48px;
    border: none;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 25px;
    border-radius: 10px;
    font-weight: 500;
  }

  .navbar--wrapper {
    position: absolute;
    z-index: 5;
    width: 100vw;
  }

  .navbar--wrapper header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    gap: 5%;
    z-index: 5;
  }

  .navbarLogo {
    margin-right: auto;
    width: 70px;
  }

  .navbarItems {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .navbarButton {
    margin-right: 50px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 20px;
  }

  .toggle {
    display: none;
  }

  .menu--Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 2rem -30px 2rem;
  }

  .filterOne {
    width: 115px;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    border: 2px solid rgb(216, 215, 215);
    border-radius: 5px;
  }

  .category {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .category a {
    text-decoration: none;
    color: #4A4A4A;
    font-size: 1.1rem;
  }

  .active {
    color: white !important;
    background-color: black;
    border-radius: 30px;
    padding: 12px 20px;
  }
}